<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="prj_ForYou.Properties.Settings.DB_Support_SchoolConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=DB_Support_School;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>